*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #ccd5ae;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: #ffffff;
}

.card {
  background-color: #fefae0;
  border-radius: 50px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: #76583a;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .card-header::after {
  content: " ";
  display: inline-flex;
  width: 100%;
  background: #e7e9eb;
  height: 2px;

} */

#timer {
  background-color: red;
  color: black;
  width: 40px;
  height: 40px;
}

.card-body {
  min-height: 100px;
}

.card-options {
  display: flex;
  justify-content: space-evenly;
}

.card-footer {
  display: flex;
  justify-content: center;
  text-align: center;

  border: 2px solid purple;
}

.btn {
  border: 3px solid #76583a;
  background-color: #d4a373;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 6px 6px 6px 6px;
  padding: 10px;
  width: 160px;
  min-width: none;
  height: 90px;
  text-align: center;
  cursor: pointer;
} 

.btn:hover {
  border: 3px solid #4f2e0e;
  background-color: #b9691a;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 6px 6px 6px 6px;
  padding: 10px;
  width: 160px;
  min-width: none;
  height: 90px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#questionTextBox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  height: 200px;
  resize: none;
  overflow: hidden;
}

#forward {
  width: 50px;
  height: 50px;
  background-color: red;
}

@media (max-width: 768px) {
  .btn {
    font-size: 1.1rem;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .btn {
    font-size: 0.9rem;
  }
}
