*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 246, 82);
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

.container {
    max-width: 900px;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 10px solid rgb(255, 132, 198);
    box-shadow: 0 0 20px;
}

.quiz-container {
    width: 400px;
    max-width: 800px;
    margin: 0 auto;
    padding: auto;
    border-radius: 5px;
}

.quiz-container h1 {
    text-align: center;
    padding: 5px;
    font-size: 2rem;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.quiz-header #progress {
    margin: 5px;
}

.quiz-header #timer {
    margin: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
    font-size: 1.6rem;
    color: white;
    background-color: red;
    border-radius: 3px;
    border: 2px solid orange;
}



.answer-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.buttons {
    margin: 1.5rem 0 4rem 0;
}

.btn {
    text-align: left;
    background-color: white;
    width: 95%;
    font-size: 1.5rem;
    color: black;
    border: 1px solid orangered;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    border-color: rgb(80, 29, 29);
    background-color: rgb(245, 200, 200);
    cursor: pointer;
}

.start-next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
